<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output_style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    <title>OurSpace Dashboard</title>
</head>
<body>
    

    <div class=" w-screen mx-auto bg-emerald-500 px-5 h-52">
        <div class=" mx-auto py-3">
            <img class="h-9 max-w-full float-left" src="static/images/logo.png" alt="image description">
            <img class="h-9 max-w-full float-right" src="static/images/Avatar.png" alt="image description">
            
        </div>
        <h3 class="font-black font-mono text-4xl text-white mt-28 uppercase">BONJOUR {{ current_user.name }},</h3>
        
    </div>
    
    {% block content %}
	{% endblock %}
</body>   

</html>